
@model News 

<style>
    /*path*/
    .path {
        width: 100%;
        display: flex;
        background-color: #d8d7d7;
        height: 60px;
    }

        .path .wrapper {
            width: 85%;
            display: flex;
            justify-content:center;
            align-items: center;
        }

            .path .wrapper p {
                margin: 0 20px;
            }

            .path .wrapper a {
                margin: 0 20px;
                color: rgb(204, 102, 102);
                font-weight:400;
                font-size:1em;
                text-decoration:none;
            }
 
</style>
    <div class="path">
        <div class="wrapper">
            <a clas="home" href="/">IESA</a> >
            <a clas="home" href="/news/index/@Model.categoryId">Noticias</a> >
            <p>@Model.title</p>
        </div>
    </div>


<div class="article">
 

        <div class="wrapper">
            <img src="~/images/@Model.image" alt="">
            <small>@Model.date.ToString("dddd, dd MMMM yyyy")</small>
            <h1>
                @Model.title
            </h1>
            <p>
                @Model.topic
            </p>
        </div>
 
</div>