* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yantramanav:wght@500;700;900&display=swap');


/*privacy*/


table.blueTable {
    border: 1px solid #005771;
    margin:50px 0;  
  }

table.blueTable thead tr th {
    border-bottom: 1px solid #005771;
}

table.blueTable td, table.blueTable th {
    padding: 3px 1px;
}


table.blueTable tbody {
    border-top: 1px solid #005771;
}

table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    border-left: 2px solid #D0E4F5;
}

    table.blueTable thead th:first-child {
        border-left: none;
    }

table.blueTable tfoot td {
    font-size: 14px;
}


td h1 {
    display: inline;
    color: #555555;
}

td p {
    display: block;
    font-size: 0.9em;
    font-weight: 400;
    color: #555354;
}

td ul li p {
    list-style-type: decimal;
}

