.article {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

    .article .wrapper {
        width: 52%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid #aaaaaa;
        padding: 20px;
    }

        .article .wrapper img {
            width: 900px;
            height: 500px;
        }
 

        .article .wrapper h1 {
            font-size: 1.5em;
            font-weight: 500;
            color: #616161;
            margin: 20px 0;
        }

        .article .wrapper a {
            text-decoration: none;
        }

        .article .wrapper p {
            font-size: 1em;
            font-weight: 500;
            color: #979595;
            margin: 5px 0;
        }

        .article .wrapper small {
            padding: 5px;
            font-weight: 500;
            color: #222222;
        }
