
<table class="blueTable">
    <thead>
        <tr>
            <th>Política de privacidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1. <h1>Política de Protección de Datos</h1>
                <br>
                <br>
                <p>De acuerdo con lo establecido por el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos y por el que se deroga la Directiva 95/46/CE, le informamos que los datos registrados en los formularios, serán tratados bajo la responsabilidad de INFORMATIZACIÓN DE EMPRESAS, S.L.U. (IESA)  para las finalidades de:</p>
                <br>

                <ul>
                    <li>
                        <p>* Registrar su solicitud de información y facilitarle el acceso a la información solicitada sobre determinado/s productos y/o servicio/s de IESA.</p>
                        <p>* Realizar estudios estadísticos y, presentarle ofertas de los productos que puedan ser de su interés, siempre dentro del ámbito de su actividad profesional, o tratarlos para provisionar los servicios que haya podido contratar a IESA..</p>
                        <p>* Registro y gestión de las inscripciones a los eventos, convenciones y conferencias.</p>
                        <p>* Gestión de la suscripción a la newsletter, para realizar los envíos correspondientes.</p>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
